/* estilos de iconos del FOOTER*/
 ai.bi {
        font-size: 1.5rem;
        color:#ffffffdd;
            
} 
.a,li  {
    text-decoration:none;
    margin-bottom: 0.3rem;
    color: #ffffffdd;
}

a:hover,:visited{
   text-decoration: underline; 
   color: #cfd2d4ed;
   font-size: 1.1rem;
    box-shadow: 0px 1px 0px 0px #dadce2 ;
}

/* estilos de las tarjetas*/
.card{
    background-color: #000000;
    color: #ffffff;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;

}
/*estilos de los MODALES*/
.modal-header{
    background-color: rgb(0, 0, 0,0.7);
}
.modal-body{
    background-color: rgb(0, 0, 0,0.7);
}