body::-webkit-scrollbar{
  background-color: #a0a0a02c;
  width: 0.3rem;
}
body::-webkit-scrollbar-thumb{
  background: #ffffff2f;
  border-right: 0.2rem solid #000000;
}


/* estilos de iconos del FOOTER*/
 ai.bi {
        font-size: 1.5rem;
        color:#ffffffdd;
            
} 
a,li {
    text-decoration:none;
    margin-bottom: 0.3rem;
    color: #ffffffdd;
}

a:hover{
   text-decoration: underline; 
   color: #ffffff;
   font-size: 1.1rem;
}

/* estilos de las tarjetas*/
.card{
    background-color: #000000;
    color: #ffffff;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    overflow-x:hidden;
}

/*estilos de los MODALES*/
.modal-header{
    background-color: #000000b3;
}
.modal-body{
    background-color: #000000b3;
}

/* main */
.bgmain{
    background-color: #4d4d4d41;
    text-align: center;
    background-size: cover;
    box-sizing: border-box;
}

.sectioncard{
box-shadow: #ffffff00 0.1rem 0.2rem;
margin: 0.3rem;
}


.sidebar{
  background-color: #000000;
  color: #fff;
  font-size: x-large;
}

/* estilos del formulario */
.form-group{
  margin-bottom: 2rem;
 
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #fff;
}
.container-fluid{
  background-color: #030303;  
  color: #fff;

}

/* estilos de texto */
#p0 {
  text-indent: 10%;
}
.about-us{
  font-family: 'Onest', sans-serif;
  font-size: 2rem;
  margin: 5rem;
  color: #fff;
  overflow:scroll;
}
article h1,h2,h3{
  text-align: center;
  text-decoration-line: underline;
  font-size: 3rem
}
/* ERROR 404 */
  postcss-cssnext;
/* helpers/align.css */

.align {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* helpers/animation.css */

.animation {
  animation-duration: 0.6s;
  animation-fill-mode: both;
}

.animation--reverse {
  animation-direction: reverse;
}

/* helpers/animation-shake.css */

@keyframes shake-vertical {

  15%,
  45%,
  75% {
    transform: translateY(-0.75rem);
  }

  30%,
  60% {
    transform: translateY(0.75rem);
  }

}

.animation--shake--vertical {
  animation-name: shake-vertical;
  will-change: transform;
}

:root {
  --grid-max-width: 40rem;
  --grid-width: 90%;
  --grid-gutter: 3%;
}

.grid {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--grid-max-width);
  width: var(--grid-width);
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--grid-gutter) / -2);
}

.grid__col {
  margin: calc(var(--grid-gutter) / 2);
  flex-grow: 1;
}

/* layout/base.css */

:root {
  --html-font-size: 100%;

  --body-background-color: #f9f8f5;
  --body-color: #353535;
  --body-font-family: 'Roboto';
  --body-font-family-fallback: sans-serif;
  --body-font-size: 1rem;
  --body-font-weight: 400;
  --body-line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: var(--html-font-size);
  height: 100%;
}

body {
  background-color: var(--body-background-color);
  color: var(--body-color);
  font-family: var(--body-font-family), var(--body-font-family-fallback);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  margin: 0;
  min-height: 100%;
}

/* modules/box.css */

:root {
  --box-background-color: #fff;
  --box-padding-horizontal: 2rem;
  --box-padding-vertical: 3rem;
}

.box {
  background-color: var(--box-background-color);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  font-size: 6.25rem;
  padding-bottom: var(--box-padding-vertical);
  padding-left: var(--box-padding-horizontal);
  padding-right: var(--box-padding-horizontal);
  padding-top: var(--box-padding-vertical);
  text-align: center;
}

/* FIN ERROR 404*/